


$globalColor:#eae1dd;
$HeaderColor : #eae1dd;
$InputCrolo : rgb(209, 163, 93);
$iconColor: rgb(117, 78, 20);
$listColor : rgb(162, 131, 88);
$backgroundLi:rgb(245, 194, 132);
$backgroundList:whitesmoke;
$FlexibleChair:#44362fcd;
$NewArrivals:#857974;
$pro_child:wheat;
$arrowColor:rgb(117, 78, 20);

$font-stack: "Helvetica Neue", Arial, sans-serif,

